Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

      cars  passings

0     BMW         3

1     Volvo         7

2     Ford         2

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

With the index argument, you can name your own labels.

Create your own labels:

In [ ]:


import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420

day2    380

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

Pandas use the loc attribute to return one or more specified row(s)

Example
Return row 0:

In [ ]:


#refer to the row index:
print(df.loc[0])

In [ ]:
#Return row 0 and 1:

#use a list of indexes:
print(df.loc[[0, 1]])

 #    calories  duration
 # 0       420        50
 # 1       380        40

 # When using [], the result is a Pandas DataFrame.

In [1]:
#Add a list of names to give each row a name:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
  #     calories  duration
  #day1       420        50
  #day2       380        40
  #day3       390        45

In [ ]:
print(df.loc["day2"])  #refer to the named index:

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

use to_string() to print the entire DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [ ]:
import pandas as pd

print(pd.options.display.max_rows)

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

In [ ]:
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

**Read JSON**

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

Dictionary as JSON:

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

In [ ]:
#Load a Python Dictionary into a DataFrame:

import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))

 if the number of rows is not specified, the head() method will return the top 5 rows.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head())

There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

Example
Print the last 5 rows of the DataFrame:

In [ ]:
print(df.tail())

In [ ]:
#Print information about the data:

print(df.info())

The **info()** method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.

Data Cleaning

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells

Data in wrong format

Wrong data

Duplicates

Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna() # Notice in the result that some rows have been removed (row 18, 22 and 28).

print(new_df.to_string())

 By default, the **dropna()** method returns a new DataFrame, and will not change the original.

 Now, the **dropna(inplace = True)** will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

In [ ]:
#If you want to change the original DataFrame, use the inplace = True argument:


import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

In [2]:
#The fillna() method allows us to replace empty cells with a value:



import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)

#Replace NULL values in the "Calories" columns with the number 130:

import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)

SyntaxError: invalid syntax (<ipython-input-2-645bdc9ef046>, line 1)

In [ ]:
#Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:
#Median = the value in the middle, after you have sorted all values ascending.
#Mode = the value that appears most frequently.
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

**Data of Wrong Format**

Pandas has a to_datetime() method for this:

ExampleGet your own Python Server
Convert to date:

In [ ]:

import pandas as pd

df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

In [ ]:
#Remove rows with a NULL value in the "Date" column:

df.dropna(subset=['Date'], inplace = True)

If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.

It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

Set "Duration" = 45 in row 7:

In [ ]:
df.loc[7, 'Duration'] = 45

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

Loop through all values in the "Duration" column.

If the value is higher than 120, set it to 120:

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

In [ ]:
# Delete rows where "Duration" is higher than 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

Returns True for every row that is a duplicate, otherwise False:

In [ ]:
print(df.duplicated())

The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame.

In [ ]:
#Remove all duplicates:

df.drop_duplicates(inplace = True)

Finding **Relationships**

Show the relationship between the columns:

corr() method ignores "not numeric" columns.

In [ ]:


df.corr()

The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

**What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.**